<strong> Olá, {{student_name}}.</strong>
<p>Sua pergunta foi respondida pela academia</p>

<p>
<strong>Pegunta: </strong> {{question}}<br />
<strong>Resposta: </strong>{{answer}} <br />

<br />

<small>Pergunta respondida em {{answer_at}}.</small>

</p>
